/* manrope */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,*::before, *::after {
    margin: 0;
    padding: 0;
    outline: none !important;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: "Manrope", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body::-webkit-scrollbar {
    display: none;
  }
  
  code {
    font-family: "Manrope", sans-serif;
  }

  .container::-webkit-scrollbar {
		width: 5px;
	}
	.container::-webkit-scrollbar-track {
		background: transparent;
	}
	.container::-webkit-scrollbar-thumb {
		background: #49494b7a;
		border-radius: 5px;
	}

  h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
  }

  p {
    font-weight: 400;
  }
}

@layer components {
  .container {
    @apply m-0 p-0 max-w-full h-auto relative
  }

  .btn {
    @apply bg-bgMenu rounded-lg shadow-md shadow-slate-400 p-2 text-white font-bold transition-all duration-500 tracking-widest
  }

  .btn:hover {
    @apply text-bgMenu bg-white
  }
}

